.container {
    text-align: center;
    align-items: center;
    align-content: center;


}

.espacio{
    padding-bottom: 5%;
    padding-top: 5%;
    color: black;
}

.borde1{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.borde2{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* .twitter{
    color:#55acee;
}

.facebook{
    color: #3b5998;
}

.google{
    color: #dd4b39;
} */
